@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f3667;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.content h1 {
  margin-bottom: 50px;
}

.copy {
  background: black;
  padding: 8px;
  text-align: center;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#biografija {
  width: 20rem;
  height: 25rem;
  margin-right: 30px;
  border-radius: 24px;
}
#potrosac,
#imovina,
#nasledno {
  width: 25rem;
  height: 25rem;
  margin-right: 30px;
  border-radius: 24px;
}
.bio {
  color: #fff;
}
.contact form .box::placeholder,
.contact form textarea::placeholder {
  color: #999;
  font-style: italic;
  padding-left: 10px;
}

.home {
  height: 40rem;
  position: relative;
}
header {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  margin-bottom: 20px;
}
header .logo {
  color: #fff;
  font-size: 1.5rem;
  margin-right: auto;
}
header .logo span {
  color: #ec9f687e;
  font-weight: bold;
}
header .menubtn {
  cursor: pointer;
  margin-right: 15px;
  display: none;
}
header .menubtn img {
  filter: invert(1);
}
header .navbar a {
  color: #fff;
  text-transform: capitalize;
  margin-right: 15px;
  position: relative;
}
header .navbar a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 3px;
  background: #ec9f687e;
  transition: 0.2s linear;
}
header .navbar a:hover::before {
  width: 100%;
}
.btn {
  padding: 10px 15px;
  background: #ec9f687e;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 18px;
}
.tarifa {
  color: #ec9f687e;
  font-weight: bold;
}
li {
  margin-bottom: 30px;
}
ul {
  list-style-type: none;
}
.home .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7rem;
  padding: 10px;
}
.home .wrapper h1 {
  color: #fff;
  font-size: 2rem;
}
.home .wrapper p {
  color: #fff;
  font-size: 1rem;
  padding: 10px 0;
}
.buttons {
  margin-top: 1rem;
}
.btn2 {
  padding: 8px 15px;
  color: #ec9f687e;
  border: 2px solid #fff;
}
.status {
  padding: 0 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  margin-bottom: 20px;
}
.status .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  gap: 1.5rem;
}
.status .box-container .box {
  padding: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 0 5px 10px rgba(216, 199, 199, 0.594);
}
.status .box-container .box h2 {
  font-size: 3rem;
  color: #202022;
}
.status .box-container .box p {
  padding: 10px 0;
  font-size: 1rem;
}
.about {
  padding: 20px 50px;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.about .image {
  font-size: 1 1 28rem;
  text-align: center;
  position: relative;
}
.about .image::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #ec9f687e;
  height: 10rem;
  width: 10rem;
  top: -15px;
  left: -15px;
}
.about .content {
  flex: 1 1 28rem;
}
.about .content span {
  font-size: 15px;
  color: #ec9f687e;
  padding: 20px;
}
.about .content h1 {
  font-size: 2rem;
  color: #fff;
}
.about .content p {
  padding: 1rem 0;
  color: #fff;
}
.about .content .award {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  gap: 0.5rem;
  margin: 1rem 0;
}
.about .content .award .box {
  padding: 0.8rem;
  text-align: center;
  background: #eee;
  border: 1px solid #aaa;
}
.services {
  padding: 20px 50px;
  margin-top: 2rem;
}
.heading {
  text-align: center;
}
.heading span {
  font-size: 15px;
  color: #ec9f687e;
}
.heading h3 {
  font-size: 2rem;
  color: #202022;
  font-weight: 500;
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
  padding: 0.5rem;
  background: #fff;
}
.services .box-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #ec9f687e;
  height: 5rem;
  width: 5rem;
  top: -10px;
  left: -10px;
}
.services .box-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #ec9f687e;
  height: 5rem;
  width: 5rem;
  bottom: -10px;
  right: -10px;
}
input,
textarea,
button {
  border-radius: 12px;
  margin-top: 10px;
}
.services .box-container .box {
  padding: 1rem;
  background: #fff;
  border: 1px solid #aaa;
}
.services .box-container .box h1 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  color: #202022;
}
.services .box-container .box h1 span {
  font-size: 2rem;
  color: #ec9f687e;
}
.services .box-container .box p {
  font-size: 14px;
  font-weight: 300;
  padding: 0.5rem 0;
}

.services .box-container .box a {
  display: flex;
  align-items: center;
  color: #202022;
  margin-top: 0.4rem;
}
.reviews {
  padding: 20px 50px;
  margin-top: 1.5rem;
}
.reviews .clients-reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
.reviews .clients-reviews .review {
  padding: 1.5rem;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.review .info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.review .info img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.review .info .row h1 {
  font-size: 1.3rem;
  font-weight: 500;
}
.review .info .row span {
  font-size: 12px;
  color: #ec9f687e;
}
.contact {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-position: center;
  background-size: cover;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact span {
  color: #ec9f687e;
  font-size: 12px;
  font-weight: 500;
}
.contact h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}
.contact form {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-top: 10px;
}
.contact form .box {
  padding: 10px 5px;
  font-size: 15px;
  background: #fff;
  outline: none;
  border: none;
  margin: 3px 0;
}
.contact form textarea {
  height: 8rem;
  resize: none;
  outline: none;
  margin-bottom: 12px;
  padding: 10px 5px;
  font-size: 15px;
}
.contactinfo {
  padding: 10px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 50px;
}
.contactinfo .box {
  background-color: #ec9f687e;
  padding: 1rem;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contactinfo .box span {
  color: black;
  padding: 7px 0;
}
.footer {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* .footer a {
  color: #202022;
  font-size: 18px;
} */

.gotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 1.9rem;
  width: 1.9rem;
  line-height: 1.9rem;
  border-radius: 3px;
  background: #ec9f687e;
  text-align: center;
  display: none;
}
.gotop img {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: cover;
  filter: invert(1);
}
.gotop.active {
  display: block;
}
.inheritance {
  color: #fff;
}
/* responsive */
@media (max-width: 769px) {
  .home {
    height: 25rem;
  }
  .home header {
    padding: 10px;
  }
  header .btn {
    display: none;
  }
  header .menubtn {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    background: #1f3667;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
    z-index: +1;
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    display: block;
    color: #fff;
    font-size: 18px;
    margin: 10px 0;
  }
  header .navbar a::before {
    display: none;
  }
  .home .wrapper {
    text-align: center;
    margin-top: 8rem;
  }
  .home .wrapper h1 {
    font-size: 1.2rem;
  }
  .home .wrapper p {
    font-size: 0.8rem;
    width: 90%;
  }
  .home .status {
    display: none;
  }
  .about,
  .services,
  .reviews,
  .contactinfo,
  .footer {
    padding: 10px;
  }
  .about {
    margin-top: 2rem;
  }
  .about .image img {
    width: 100%;
    object-fit: cover;
  }
  .about .image::before {
    display: none;
  }
  .contact form {
    width: 90%;
  }
  .footer a {
    font-size: 12px;
  }
}
